#root{
    --black:#252525;
    --red: #ff1e00;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.search-container{
    width: 40%;
    /* border: 1px solid var(--black); */
    background-image: url(../assets/bgc/clear.jpg);
    background-size: cover;
    margin: 50px auto;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    row-gap: 3rem;
}

.search-box{
    display: flex;
    height: 3rem;
    gap: 1rem;
}
.search-box>input{
    width: 250px;
    border-radius: 5px;
    font-size: 22px;
    border: none;
    padding: 1rem;
}
.search-box>input:focus{
    outline: none;
}
.search-box>input::placeholder{
    color: var(--red);
}
.search-box>button{
    padding: 0 20px;
    border-radius: 5px;
    font-size: 20px;
}
.weather-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}
.weather-data>img{
    width: 90px;
    height: 90px;
    border-radius: 5px;
}
.other-details{
    color: wheat;
    width: 100%;
    display: flex;
    justify-content: space-around;
}