*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.app{
  /* border: 1px solid #252525; */
  display: grid;
  place-items: center;
}
.search-sec{
  margin: 50px auto;
  border: 1px solid #252525;
  width: 40%;
  padding: 3rem;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(45deg, #18d6d6, #751492, #b81b89,#f30b6c);
}
.search-box{
  display: flex;
  height: 3rem;
  gap: 1rem;
  width: 100%;
  justify-content: center;

}
.search-box>input{
  width: 250px;
  border-radius: 5px;
  font-size: 22px;
  border: none;
  padding: 1rem;
}
.search-box>input:focus{
  outline: none;
}
.search-box>input::placeholder{
  color: #e90808;
}
.search-box>button{
  padding: 0 20px;
  border-radius: 5px;
  font-size: 20px;
}
.weather-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  color: #dfdddd;
}
.weather-card>img{
  width: 90px;
  height: 90px;
  border-radius: 5px;
}
.details{
  width: 100%;
  display: flex;
  justify-content: space-around;
}