:root {
  --color-1: #18bb18;
  --color-2: #f77844;
  --color-3: #ff3232;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  padding: 0 30px;
  background: #808080;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar > img {
  height: 60px;
  width: 80px;
  border-radius: 10px;
}
.navbar > div {
  color: #ffffff;
  font-size: 40px;
}
.input {
  background-color: var(--color-2);
  display: flex;
  align-items: center;
  gap: 20px;
  height: 100px;
  padding: 10px;
}
.input > input {
  height: 60px;
  flex-grow: 1;
  font-size: 25px;
  border-radius: 15px;
}
.input > input::placeholder {
  color: var(--color-3);
  text-align: center;
}
.input > input:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 10px var(--color-1);
}
.input > button {
  height: 60px;
  padding: 0 40px;
  color: #ffffff;
  font-size: 22px;
  background-color: var(--color-1);
  border-radius: 15px;
  transition: 0.3s all ;
}
.input > button:hover {
    transition: all 0.3s ;
  color: var(--color-1);
  background-color: #ffffff;
  box-shadow: 0 0 5px var(--color-1);
}
.container {
  display: flex;
  min-height: calc(100vh - 160px);
  padding: 20px;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  background-color: rgb(91, 104, 91);
  color: #ffffff;
  align-content: start;
}
.card {
    background-color: var(--color-2);
    height: 130px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 10px #252525;
    border-radius: 5px;
    padding: 15px;
}
h3{
    overflow-y: scroll;
    flex-grow: 1;
    padding: 5px;

}
.buttons{
    padding: 5px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.buttons>button{
    color: #ffffff;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    outline: none;
    border: none;
    box-shadow: 0 0 10px inset #252525;
    border-radius: 4px;
    background-color: var(--color-1);

}
.buttons>button:first-child{
    background-color: var(--color-3);

}
.buttons>button:hover{
    transition: all 0.5s ease 0s;
    transform: scale(1.2,1.2);
    opacity: 0.7;
}
.modal-container{
    display: inline-block;
    height: 98vh;
    width: 100vw;
    position:  absolute;
    top: 0;
    left: 0;
    background-color: rgba(47, 73, 114, 0.6);
}
.modal{
    position: absolute;
    top: 15%;
    left: 40%;
    display: flex;
    height: 300px;
    width: 400px;
    background-color: rgb(61, 129, 254);
    color: #ffffff;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
}
.modal textarea{
    outline: 1px rgb(61, 129, 254);
    border: none;
    border-radius: 2px;
    font-size: 18px;
}
.modal-buttons{
    display: flex;
    gap: 20px;
}
.modal-buttons>button{
    padding: 10px 20px;
    font-weight: bold;
    font-size: 19px;
    background-color: rgb(61, 129, 254);
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0 0 5px #808080;
    border-radius: 10px;
}
.modal-buttons>button:nth-child(2){
    background-color: rgb(50, 48, 48);
}
.cross{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #252525;
    cursor: pointer;
}
.cross:hover, .modal-buttons>button:hover{
    transform: perspective(200px) translateZ(30px);
}
@media(max-width:1200px){
    .container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}
@media (max-width:900px) {
    .container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width:500px){
    .container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .input>button{
        padding: 0;
        font-size: 16px;
    }
    .input>input{
        height: 50px;
        flex-grow: 1;
        font-size: 16px;
    }
}