.btn{
    /* width: ; */
    /* height: ; */
    border-radius: 50px;
    background: linear-gradient(135deg,#feb692 10%,#ea5445 100%);
    color: #ffffff;
    /* box-shadow: 0 20px 30px -6px rgba; */
}